@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Poppins:wght@300;400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
    background-color: black !important; 
    text-align: center;
    font-family: 'Poppins', sans-serif ;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif !important;
}
a{
    text-decoration: none !important;
    color: #ffffff !important;
}
body>div{
    padding: 0px !important;
    background-color:#222022;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('images/attackOnTitan.jpg');
    width: 90vw;
    height:100%;
    background-size: cover;
    background-position: center top;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}
header {
    align-self: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Increased opacity for emphasis */
    position: fixed;
    top: 0px;
    z-index: 1000; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    border-bottom: 2px solid rgba(117, 221, 229, 0.7); 
}
header>h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.8), 
             -3px -3px 10px rgba(255, 255, 255, 0.4);
    letter-spacing: 3px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    }
    
    header>h1:hover {
    color: #ffffff;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 1), 
         0px 0px 40px rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
}
header .navbar{
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0) !important;
    padding: 20px 0;
    position: fixed;      
}
header .navbar a{
    text-decoration: none !important;
    color: #ffffff !important;
}
header .navbar a:hover{
    text-decoration: none;
    transform: scale(1.25);
    color: rgb(117, 221, 229) !important;
    transition: transform 0.2s;
}
main{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:50px;
    align-items: center;
    padding: 20px 20px;
}
#welcome{
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap:40px;
    padding: 20px 20px;
}
.studios h3{
    margin-bottom:15px;
}

main>div:not(.separator) {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 10px;
}

main .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
    gap: 20px;
    padding: 20px 20px;
    position: relative;
}
.container img{
    height: 80%;
    width: 100%;;
}
.nav-button{
    background-color: black !important;
    color: white !important;
    size: 40px !important;
}
.nav-button:nth-of-type(1){
    left: 0px;
    position: absolute;
}
.nav-button:nth-of-type(2){
    right: 0px;
    position: absolute;
}
.nav-button:hover{
    background-color: rgb(117, 221, 229) !important;
    color: black !important;
}
.image-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.image-item a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none !important;
    color: #ffffff !important;
}
.image-item>a>img{
    width: 150px; 
    height: 200px;
}
.image-item span:hover{
    transform: scale(1.15);
    transition: transform 0.4s;
    /* color: red; */
    color: rgb(117, 221, 229);
}
footer{
    margin-top:120px;
    background-color: rgba(117, 221, 229, 0.7) !important;
    align-self: flex-end;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
    font-size: 1.5em;
}
#contatti{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
   padding-right: 20px;
}
#contatti>p{
   font-size: 2em;
   margin-bottom: 30px;
   bottom: 0;
   
}
#contatti>div:nth-of-type(2){
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: auto;
    right: 20px;
    font-size: 0.5em !important;
    position: absolute;
    bottom: 0;
}
.social-icons {
    display: flex;
    gap: 15px;
    font-size: 1em;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
.icon {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.icon:hover {
    color: #007bff !important;
    transition: 0.3s;
}
#contatti span:hover{
    transition: 0.3s;
    color: #007bff;
}

@media (max-width: 768px) {
    header > h1 {
        font-size: 30px;
        padding: 10px;
    }

    header .navbar {
        display: none;
    }
    main {
        margin-top: 150px;
        gap: 30px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: auto;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none;  /* For Internet Explorer and Edge */
        ::-webkit-scrollbar {
            display: none; /* For Chrome, Safari, and Opera */
        }
        width: auto !important;
        height: 250px !important;
        overflow-y: hidden;
    }

    .container .image-item {
        width: 80%; 
        margin-bottom: 20px; 
    }

    .container img {
        width: 100%; 
        height: auto;
    }
    .image-item {
        width: 100%;
        justify-content: flex-start;
    }

    .image-item a {
        gap: 10px;
    }

    footer {
        margin-top: 30px;
        height: auto;
        font-size: 1em;
    }
    #contatti p {
        display: none;
    }
    .social-icons a {
        font-size: 1.2em;
    }
    .nosmall{
        display: none;
    }
}